<div class="header-container">
    <div class="profile-img">
        <img src="/assets/images/avatar.jpg" class="img-fluid" alt="">
    </div>
    <div class="profile-info">
        <div class="info d-flex flex-column">
            <h5>Дмитрий Калашников</h5>
            <div class="like-comment">
                <span><i class="far fa-heart"></i>2,5k</span>
                <span><i class="far fa-comment-alt"></i>77</span>
            </div>
            <span>11 рецептов</span>
            <span>999 подписчиков</span>
        </div>
        <div class="create-recipe-btn d-flex align-items-end">
            <button class="btn btn-outline-dark">Добавить рецепт</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="row main-info">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Сохраненные рецепты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Подписки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои рецепты</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion-cantainer">
        <div class="accordion">
            <details class="accordion__item">
                <summary class="accordion__title d-flex justify-content-between">
                    Категория
                </summary>
                <ul class="accordion__body">
                    <li class="checkbox">
                        <label class="checkbox__label">Завтраки
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Первые блюда
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Горячее
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Закуски
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Десерты
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Заготовки
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Выпечка
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Напитки
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                    <li class="checkbox">
                        <label class="checkbox__label">Другое
					  <input type="checkbox" class="checkbox__input" name="category">
					  <span class="check__box"></span>
					</label>
                    </li>
                </ul>
            </details>
        </div>
    </div>
    <div class="grid-container">
        <div class="row d-flex">
            <div class="col-sm-3 card__item">
                <div class="card__image">
                    <img class="img-fluid" src="https://image.shutterstock.com/image-photo/classic-french-croissant-bakery-shop-600w-1793075422.jpg" alt="">
                </div>
                <div class="card__content">
                    <h5>Банановый боул с гранолой</h5>
                </div>
                <div class="card_buttons d-flex justify-content-between align-content-center">
                    <button class="heart"><span><i class="far fa-heart"></i>2.5k</span></button>
                    <button class="button__item">Read Recipe</button>
                </div>
            </div>
            <div class="col-sm-3 card__item">
                <div class="card__image">
                    <img class="img-fluid" src="https://image.shutterstock.com/image-photo/classic-french-croissant-bakery-shop-600w-1793075422.jpg" alt="">
                </div>
                <div class="card__content">
                    <h5>Банановый боул с гранолой</h5>
                </div>
                <div class="card_buttons d-flex justify-content-between align-content-center">
                    <button class="heart"><span><i class="far fa-heart"></i>2.5k</span></button>
                    <button class="button__item">Read Recipe</button>
                </div>
            </div>
            <div class="col-sm-3 card__item">
                <div class="card__image">
                    <img class="img-fluid" src="https://image.shutterstock.com/image-photo/classic-french-croissant-bakery-shop-600w-1793075422.jpg" alt="">
                </div>
                <div class="card__content">
                    <h5>Банановый боул с гранолой</h5>
                </div>
                <div class="card_buttons d-flex justify-content-between align-content-center">
                    <button class="heart"><span><i class="far fa-heart"></i>2.5k</span></button>
                    <button class="button__item">Read Recipe</button>
                </div>
            </div>
            <div class="col-sm-3 card__item">
                <div class="card__image">
                    <img class="img-fluid" src="https://image.shutterstock.com/image-photo/classic-french-croissant-bakery-shop-600w-1793075422.jpg" alt="">
                </div>
                <div class="card__content">
                    <h5>Банановый боул с гранолой</h5>
                </div>
                <div class="card_buttons d-flex justify-content-between align-content-center">
                    <button class="heart"><span><i class="far fa-heart"></i>2.5k</span></button>
                    <button class="button__item">Read Recipe</button>
                </div>
            </div>
            <div class="col-sm-3 card__item">
                <div class="card__image">
                    <img class="img-fluid" src="https://image.shutterstock.com/image-photo/classic-french-croissant-bakery-shop-600w-1793075422.jpg" alt="">
                </div>
                <div class="card__content">
                    <h5>Банановый боул с гранолой</h5>
                </div>
                <div class="card_buttons d-flex justify-content-between align-content-center">
                    <button class="heart"><span><i class="far fa-heart"></i>2.5k</span></button>
                    <button class="button__item">Read Recipe</button>
                </div>
            </div>
            <div class="col-sm-3 card__item">
                <div class="card__image">
                    <img class="img-fluid" src="https://image.shutterstock.com/image-photo/classic-french-croissant-bakery-shop-600w-1793075422.jpg" alt="">
                </div>
                <div class="card__content">
                    <h5>Банановый боул с гранолой</h5>
                </div>
                <div class="card_buttons d-flex justify-content-between align-content-center">
                    <button class="heart"><span><i class="far fa-heart"></i>2.5k</span></button>
                    <button class="button__item">Read Recipe</button>
                </div>
            </div>
        </div>
    </div>
</div>