<div class="wrapper-grid-10">
	<div class="one">
		<div class="img">
			<img src="https://image.shutterstock.com/image-photo/homemade-apple-pie-600w-711969070.jpg"
				alt="Здесь должна быть картинка" class="w-100 d-block">
		</div>
		<div class="content d-flex justify-content-start">
			<p>Автор</p>
			<p>Дмитрий Калашников</p>
			<p><i class="far fa-heart"></i>2,5k</p>
			<p><i class="far fa-comment-alt"></i>77</p>
		</div>
	</div>
	<div class="two">
		<h5 class="info-title">Яблочный пирог с корицей</h5>
		<div class="recipe-info wrapper-grid-2">
			<div class="info-content">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit vel neque repellendus cum maiores
				natus voluptates porro voluptatum, sed numquam.
			</div>
			<div class="calories">
				<h5>Пищевая ценность</h5>
				<span>300 кКалл</span>
			</div>
			<div class="details">
				<span class="timer">30 минут</span>
				<span class="portion">5 порций</span>
				<span class="difficulty">Сложность</span>
			</div>
			<div class="bju d-flex flex-column">
				<span>Белки.............13 г</span>
				<span>Жиры..............20 г</span>
				<span>Углеводы..........56 г</span>
			</div>
		</div>
	</div>
</div>