<div class="wrapper-grid-10" *ngIf="recipeLoaded">
    <div class="one">
        <div class="img">
            <img src="{{recipe.mainImage.url}}" alt="Здесь должна быть картинка" class="w-100 d-block">
        </div>
        <div class="content d-flex justify-content-start">
            <p>Автор</p>
            <p>{{recipe.author}}</p>
            <p><i class="far fa-heart"></i>2,5k</p>
            <p><i class="far fa-comment-alt"></i>77</p>
        </div>
    </div>
    <div class="two">
        <h5 class="info-title">{{recipe.title}}</h5>
        <div class="recipe-info wrapper-grid-2">
            <div class="info-content">
                {{recipe.description}}
            </div>
            <div class="calories">
                <h5>Пищевая ценность</h5>
                <span>{{recipe.nutritionValue.value}} кКал</span>
            </div>
            <div class="details d-flex ">
                <div class="d-flex flex-column justify-content-center timer">
                    <img class="img-timer" src="/assets/images/timer.svg" alt="">
                    <span>{{recipe.timeOfCooking.totalMinutes}}</span>
                </div>
                <div class="d-flex  flex-column justify-content-center portion">
                    <img class="img-portion" src="/assets/images/plate.svg" alt="">
                    <span>{{recipe.servings}}</span>
                </div>
                <div class="d-flex flex-column justify-content-center difficulty">
                    <img class="img-difficulty" src="/assets/images/{{recipe.difficulty}}.svg" alt="">
                    <span>Сложность</span>
                </div>
            </div>
            <div class="bju d-flex flex-column">
                <ul class="bju-quantity">
                    <li>Белки<span class="value">{{recipe.nutritionValue.proteins}} г.</span></li>
                    <li>Жиры<span class="value">{{recipe.nutritionValue.fats}} г.</span></li>
                    <li>Углеводы<span class="value">{{recipe.nutritionValue.carbohydrates}} г.</span></li>
                </ul>
            </div>
            <div class="btn-create">
                <button type="button" class="btn btn-outline-dark">Сохранить рецепт</button>
            </div>
        </div>
    </div>
    <div class="three">
        <div class="ingredients d-flex justify-content-between">
            <h5>Ингридиенты</h5>
            <div class="number-input md-number-input ">
                <span class="">порции</span>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
            </div>
        </div>
        <div class="components">
            <ul class="components-quantity" *ngFor="let ingredient of recipe.ingredients">
                <li>{{ingredient.name}}<span class="value">{{ingredient.amount}} {{ingredient.unit}}</span></li>
            </ul>
        </div>
    </div>
    <div class="four">
        <div class="cooking-title">
            <h5>Приготовление</h5>
        </div>
        <div class="photo-galery row" *ngFor="let step of recipe.stepsOfCooking">
            <div class="col-sm-12 col-md-6 col-lg-4 item" *ngIf="step.image">
                <a href="{{step.image.url}}" data-lightbox="photo-galery"><img class="img-fluid" src="{{step.image.url}}" alt="#"></a>
            </div>
        </div>
        <div class="cooking-steps">
            <ol class="steps">
                <li *ngFor="let step of recipe.stepsOfCooking">{{step.description}}</li>
            </ol>
        </div>
    </div>
    <div class="five">
        <div class="row" *appShowAuth="true">
            <div class="col-sm-8 ">
                <h5 class="title-new-comments">Новый Комментарий</h5>
            </div>
            <form class="new-comment" [formGroup]="createCommentForm">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-3 col-lg-2 hidden-xs">
                            <img class="media-object d-block" src="https://static10.tgstat.ru/channels/_0/0d/0df75992fcceceff9b162f7559345917.jpg" alt="">
                        </div>
                        <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                            <textarea class="form-control" id="message" cols="60" rows="5" formControlName="body"></textarea>
                        </div>
                    </div>
                </fieldset>
                <button type="submit " class="btn btn-normal btn-outline-dark " (click)="createComment()">Отправить</button>
            </form>
        </div>
        <h5 class="title-comments ">Прочие Комментарии</h5>
        <div *ngIf="recipeLoaded">
            <div class="comments" *ngFor="let comment of recipe.comments | slice: pageSize | slice: 0:itemsPerPage">
                <ul class="media-list ">
                    <li class="media d-flex ">
                        <div class="media-left ">
                            <a href=" "><img class="media-object img-circle " src="{{comment.userProfileImageUrl ? 'https://' + comment.userProfileImageUrl : 'https://static10.tgstat.ru/channels/_0/0d/0df75992fcceceff9b162f7559345917.jpg'}}" alt=" "></a>
                        </div>
                        <div class="media-body ">
                            <div class="panel panel-info ">
                                <div class="panel-heading ">
                                    <div class="author ">{{comment.author}}</div>
                                    <div class="mediadata ">
                                        <span class="date ">{{comment.createdAt}}</span>
                                    </div>
                                </div>
                                <div class="panel-body ">
                                    <div class="media-text ">
                                        {{comment.body}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="commentsAmount" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="onPageChange(page)" [maxSize]="6" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
        <div class="comments-footer ">
            <span *appShowAuth="false">Войдите или Зарегистрируйтесь чтобы оставить комментарий!</span>
            <button class="btn btn-outline-secondary all-comments ">Все комментарии</button>
        </div>
    </div>
</div>