<main>
    <div class="container slider">
        <div class="row">
            <div id="slider" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active col-md-12 col-4">
                        <img src="../../assets/images/carousel.jpg" class="img-responsive w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="display-2">First slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item col-md-12 col-4">
                        <img src="../../assets/images/unnamed.jpg" class="d-block w-100 " alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="display-2">Second slide label</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
                <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
            </div>
        </div>
    </div>
    <!-- Slider end ------------------------------------------------------------------------------------ -->

    <div class="container my-4">
        <!-- Поиск--------------------------------------------------- -->
        <div class="row d-flex justify-content-md-between">
            <div class="col-md-2 col-12 text-md-start text-center">
                <h2 class="title__recipe">Рецепты</h2>
            </div>
            <div class="col-md-6 col-12">
                <input type="search" id="search" placeholder="Найти рецепт" class="form-control search">
            </div>
        </div>
        <!-- --------------------------------------------------------------- -->
        <!-- Аккордион------------------------------------------------------ -->
        <div class="row my-3">
            <div class="accordion col-3">
                <details class="accordion__item" *ngIf="categoryEnvelope">
                    <summary class="accordion__title">
                        Категория
                    </summary>
                    <ul class="accordion__body" *ngFor="let category of categoryEnvelope.categories">
                        <li class="checkbox">
                            <label class="checkbox__label">{{category.name}}
                <input type="checkbox" class="checkbox__input" name="category">
                <span class="check__box"></span>
              </label>
                        </li>
                    </ul>
                </details>
                <details class="accordion__item" *ngIf="cuisineEnvelope">
                    <summary class="accordion__title">
                        Кухня
                    </summary>
                    <ul class="accordion__body" *ngFor="let cuisine of cuisineEnvelope.cuisines">
                        <li class="checkbox">
                            <label class="checkbox__label">{{cuisine.name}}
                <input type="checkbox" class="checkbox__input" name="category">
                <span class="check__box"></span>
              </label>
                        </li>
                    </ul>
                </details>
                <details class="accordion__item">
                    <summary class="accordion__title">
                        Время приготовления
                    </summary>
                    <div class="cookong-time-category d-flex">
                        <input type="text" class="form-control  align-items-center">
                        <span class="d-flex align-items-center">&#8212;</span>
                        <input type="text" class="form-control align-items-center">
                        <div class="btn-group time-group" role="group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-outline-dark" for="btnradio1">мин</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-dark" for="btnradio2">ч</label>
                        </div>
                    </div>
                </details>
                <details class="accordion__item">
                    <summary class="accordion__title">
                        Сложность
                    </summary>
                    <ul class="accordion__body" *ngFor="let difficulty of difficulties">
                        <li class="checkbox">
                            <label class="checkbox__label">{{difficulty}}
                <input type="checkbox" class="checkbox__input" name="category">
                <span class="check__box d-flex align-content-center"></span>
              </label>
                        </li>
                    </ul>
                </details>
            </div>
            <!-- --------------------------------------------------------------- -->
            <!-- Сетка с рецептами ---------------------------------------------- -->
            <div class="col">
                <div class="row" *ngIf="recipesLoaded">
                    <div class="col-3 card__item" *ngFor="let recipe of recipeEnvelope.recipes | slice: pageSize | slice: 0:itemsPerPage">
                        <div class="card__image">
                            <img class="d-block w-100" src="{{recipe.mainImage.url}}" alt="">
                        </div>
                        <div class="card__content">
                            <h5>{{recipe.title}}</h5>
                        </div>
                        <div class="card_buttons d-flex justify-content-between align-content-center">
                            <button class="heart"><span><i class="far fa-heart"></i>2.5k</span></button>
                            <button class="button__item" [routerLink]="['recipe/'+ recipe.id]">Read Recipe</button>
                        </div>
                    </div>
                    <ngb-pagination class="d-flex justify-content-end" [collectionSize]="recipeEnvelope.recipeCount" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="onPageChange(page)" [maxSize]="6" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
                <div class="d-flex justify-content-center" *ngIf="!recipesLoaded">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
